@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    font-family:'Noto Sans TC', sans-serif;
} 
.calculator-app__root {
    margin: 0 auto;
    /* margin-top: 7em; */
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    font-weight: 300;
    background-color: 	#FFF0D4;
}


.calculator-app__title{
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin: 0;
    padding: 0;
}
.calculator-app__machine{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.calculator-app__machine_screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    background-color: rgba(175, 47, 47, 0.15);
    padding: 0px 10px 0px;
    font-size: 30px;
}

.calculator-app__machine_body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 1em;
    background-color: #FFE8BF;
}
.calculator-app__machine_number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 600px;
    width: 60%;
}
.calculator-app__machine_number button{
    text-align: center;
    width: 100px;
    height: 100px;
    color: #FFCC6E;
    border-radius: 50%;
    margin: 10px;
    font-size: 50px;

    border: transparent;
}
.calculator-app__machine_operator{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 600px;
    margin-left: 20px;
}
.calculator-app__machine_operator button{
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    color: #FFCC6E;
    border: transparent;
    margin: 10px;
}
.calculator-app__machine_body button:hover{
    outline: blueviolet;
    border: double;
}